@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Hyderabad<br />
        Sr Nagar, TG-500038<br />
        <abbr title="Phone">Ph:</abbr>
        998-551-6142
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:koti40565@gmail.com">Support@example.com</a><br />
        
    </address>
</main>